/* src/components/Header/Header.module.css */

.headerButtons {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 15px;
  z-index: 10; /* Garante que fique acima de outros elementos */
}

.button {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(0, 191, 255, 0.6);
}

.button:hover {
  background-color: #333;
  color: white;
  box-shadow: 0 0 12px rgba(0, 255, 234, 0.8);
}
