/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a202c;
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
}

/* Deixa todos os blocos, modais e containers com bordas arredondadas */
div, section, article {
  border-radius: 15px;
}

/* Evita que imagens e botões sofram distorção */
img, button {
  border-radius: 8px;
}
